

@total-width: 750;

.w {
    width: 693rem;
    margin: 0 auto;
}

html {

    font-size: (100vw/@total-width);
    background-color: #eff0f4;


}

a {
    text-decoration: none;
}

// 设置头部banner 

.top-bar:extend(.w) {

    display: flex;
    height: 300rem;

    justify-content: space-between;

    align-items: center;

    a {
        color: #24243d;
        font-size: 36px;

        i {
            color: #999;
            font-size: 16px;
        }
    }

}


// 设置 banner
.banner:extend(.w) {
    img {
        width: 100%;
    }
}

.menu:extend(.w) {

    height: 329rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;


    a {
        flex: none;
        width: 327rem;
        height: 104rem;
        box-sizing: border-box;
        color: white;
        font-size: 16px;
        border-radius: 5%;
        line-height: 104rem;
        padding: 0 40rem;

        i {
            margin: 10rem;
        }
    }

    .course {
        background-color: #f97053;
    }

    .teacher {
        background-color: #cd63fe;
    }

    .sub {
        background-color: orange;
    }

    .download {
        background-color: #1bc4fb;
    }


}

.course-list:extend(.w) {

    height: 392rem;
    margin: 30rem auto;


    .title {
        width: 100%;
        display: flex;

        justify-content: space-between;
        align-items: center; // align-content 则稍有区别

        h3 {
            font-size: 33rem;
            color: #24253d;
            border-left: 2px solid #3a84ff;
            padding-left: 4px;
        }
        
        a {
            color: #656565;
            font-size: 28rem;
        }
    }

    .item-list {

        // 这里连续用了三个 flex， 在不同的方向上，不同的容器内
        display: flex;
        justify-content: space-between;
        overflow: scroll;

        .item {
            margin: 10rem 14rem;
            width: 320rem;
            height: 324rem;
            box-sizing: border-box;
            padding: 0 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            border: solid 1px transparent;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            border-radius: 2%;

            .cover img {
                width: 300rem;
                height: 200rem;
            }

            h4 {
                font-size: 16px;
                color: #24253d;
            }

            .user-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 42rem;
                    height: 42rem;
                }

                .nickname {
                    font-size: 24rem;
                    color: #969393;
                }
            }

            
            
        }
    }
}
