.d1,
.d2 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.d2 {
  border: 1px solid black;
}
.d3 {
  width: 100px;
  height: 100px;
  background-color: orange;
}
.d4 {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 1px solid green;
}
