body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    /*
        min-width: 当浏览器的窗口不断缩小，body 的宽度也会随之缩小。当窗口的宽度小于 1226px 的时候，body 的宽度就不会缩小
    */
    min-width: 1226px;
}

/*
    这一段是小米官网做活动的时候，放在最上边的，暂时不做
*/
/* .app .topbar-banner-Wrapper .link-block {
    position: absolute;
    background-image: url(../../img/mi/mi_03.jpg);
    width: 100%;
    height: 240px;
} */



.site-topbar {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background-color: #333;

}


.topbar-nav {
    height: 40px;
    line-height: 40px;
    float: left;
}


.site-topbar a {

    color: #b0b0b0;
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
}

.site-topbar a:hover {
    color: #fff;
}

.site-topbar .nav-sub {
    float: left;
}

.site-topbar .download-app {
    position: relative;
}

.site-topbar .download-app a:link .download-app-img {
    display: none;
}

/*
    此元素： absolute
    此元素的父元素： relative

*/
.site-topbar .download-app a:hover .download-app-img {
    display: block;
    position: absolute;
    width: 124px;
    height: 148px;
    background: #fff url("../../img/mi/mi-two-dimensional.png") no-repeat 10px 10px/100px ;
    left: -40px;
    border: 1px solid grey;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    background-color: white;
    z-index: 999;
}


.site-topbar .download-app a:hover .img-after-text {
    margin-top: 110px;
    line-height: 25px;
    padding-left: 30px;
    color: black;
}


.site-topbar .sep {
    color: #424242;
    display: block;
    margin: 0 .6em;
    float: left;
}



.site-topbar .topbar-cart {
    float: right;
    width: 120px;
    line-height: 40px;
    font-size: 13px;
    position: relative;
}

.site-topbar .topbar-cart .cart-notice {

    display: none;
}

.site-topbar .topbar-cart:hover {
    color: #ff6700;
}


.site-topbar .topbar-cart:hover .cart-notice {
    position: absolute;
    display: block;
    width: 260px;
    height: 98px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, .6);
    left: -183px;
    z-index: 999;
    color: #323232;
    line-height: 98px;
    padding-left: 40px;
}



.site-topbar .topbar-info {
    float: right;
    width: 143px;
    margin-right: 20px;
    line-height: 40px;
    color: #424242;
}

.site-topbar .topbar-info a {
    display: block;
    float: right;
}

.site-topbar .topbar-info .sep-info {
    
    display: block;
    margin: 0 .6em;
    float: right;
}


.site-header {
    height: 100px;
    width: 100%;
    position: relative;
}


.site-header .container {
    height: 100px;
}

.site-header .header-logo {
    width: 55px;
}


.header-logo {
    width: 62px;
    height: 100%;
    float: left;
}

.header-logo a:link {

    display: block;
    background-image: url("../../img/mi/mi-logo.png");
    width: 55px;
    height: 55px;
    margin: 25px 0;
}

.header-nav {
    float: left;
    width: 850px;
    height: 100%;
    font-size: 17px;
    color: #333;
}

.header-nav ul {

    float: left;
    margin-left: 188px;
}


.header-nav li {
    float: left;
    line-height: 100px;
    margin: 0 7px; 
    
}



.header-nav li:hover {
    color: #ff6700;
}

.header-nav li a {
    text-decoration: none;
    color: #333;
}

.header-nav li a:hover {
    color: #ff6700;
}

.header-nav-select {
    display: none;
}

/* 
    兄弟元素选择器 
    因为直接属于 ul, 有所浮动，所以初始化设置 top and left

*/
.header-nav .nav-goods:hover ~ .header-nav-select,
.header-nav-select:hover {

    width: 100%;
    height: 250px;
    background-color: grey;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 999;
}



.header-search {
    float: right;
    width: 296px;
    height: 100px;
}


.header-search form {
    width: 100%;
    height: 45px;
    margin: 25px 0;
}

/*
    行内块元素：
        input, button 等都是行内块元素，很多属性很像行内元素，
        比如元素之间默认留有一个空格，浮动之后就没有了 （还有一个不太聪明的做法就是代码中写在一起，不留空格~）

*/
.header-search form input {
    width: 238px;
    height: 45px;
    border: 1px solid #e0e0e0;
    float: left;
    box-sizing: border-box;
}


/*
    box-sizing:
        button 的此属性，应该默认就是 border-box 
        （我们已将 box-sizing 属性设置为 border-box。这样可以确保元素的总宽度和高度中包括内边距（填充）和最终的边框。）

*/
.header-search form button {
    width: 50px;
    height: 45px;
    border: 1px solid #e0e0e0;
    border-left: none;
    float: left;
    background-color: #fff;
}

.header-search form .fas {
    font-size: 20px;
}


/*
    
    input 这个元素设置 border: 1px solid #ff6700; 无效
            设置 outline 可以

    但是呢，去掉 border  可以

    如果不去掉，在放大的情况下，可以看出，outline 在 border 的外面一点
    
*/
.header-search input:focus,
.header-search input:focus ~ button {
    outline: 1px solid #ff6700;
    border: none;
}

.header-search form button:hover {

    background-color: #ff6700;
    border: none;
}




.home-hero-container {
    background-color:  #424242;

    height: 600px;
}

